﻿@using System.Web.UI.WebControls
@using CustomerManagementApp.Web.ViewModel
@model CustomerManagementApp.Domain.Model.Customer
@{
    ViewBag.Title = "Add Customer";
}
@using (Html.BeginForm("AddCustomer", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body form-horizontal">
        <div class="row">
        <div>
            <div class="form-group">
                @Html.HiddenFor(model => model.CustomerId)
                @Html.LabelFor(model => model.Name, new {@class = "col-lg-3 col-sm-3 control-label"})
                <div class="col-lg-6">
                    <div>
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Surname, new {@class = "col-lg-3 col-sm-3 control-label"})
                <div class="col-lg-6">
                    <div>
                        @Html.ValidationMessageFor(model => model.Surname)
                    </div>
                    @Html.TextBoxFor(model => model.Surname, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, new {@class = "col-lg-3 col-sm-3 control-label"})
                <div class="col-lg-6">
                    <div>
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </div>
                    @Html.TextBoxFor(model => model.PhoneNumber, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PostalCode, new {@class = "col-lg-3 col-sm-3 control-label"})
                    <div class="col-lg-6">
                        <div>
                            @Html.ValidationMessageFor(model => model.PostalCode)
                        </div>
                        @Html.TextBoxFor(model => model.PostalCode, new {@class = "form-control", htmlAttributes = new {placeholder = "XX-XXX"}})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.City, new {@class = "col-lg-3 col-sm-3 control-label"})
                    <div class="col-lg-6">
                        <div>
                            @Html.ValidationMessageFor(model => model.City)
                        </div>
                        @Html.TextBoxFor(model => model.City, new {@class = "form-control"})
                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Street, new {@class = "col-lg-3 col-sm-3 control-label"})
                    <div class="col-lg-6">
                        <div>
                            @Html.ValidationMessageFor(model => model.Street)
                        </div>
                        @Html.TextBoxFor(model => model.Street, new {@class = "form-control"})
                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StreetNumber, new {@class = "col-lg-3 col-sm-3 control-label"})
                    <div class="col-lg-6">
                        <div>
                            @Html.ValidationMessageFor(model => model.StreetNumber)
                        </div>
                        @Html.TextBoxFor(model => model.StreetNumber, new {@class = "form-control"})
                    </div>

                </div>
            </div>

        </div>
        </div>
        @Html.Partial("_ModalButtons", new ModalWindowButtons()
       {
           SubmitButtonDesc = "Add",
           SubmitButtonStyle = "btn-primary",
           CancelButtonDesc = "Cancel",
           CancelButtonStyle = "btn-basic"

       })
    @section Scripts
{
        @Scripts.Render("~/bundles/jqueryval")
    }
}
