﻿@model IEnumerable<CustomerManagementApp.Domain.Model.Customer>
@{
    ViewBag.Title = "Customers";
}
@section scripts{
    <script src="~/Scripts/Custom/userScripts.js"></script>
}

<div class="panel panel-primary">
    <div class="panel-heading panel-head">Customers</div>
    <div class="panel-body">
        <div class="btn-group">
            <button type="button" id="createCustomer" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i> Add Customer
            </button>
        </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Phone Number</th>
                <th>Postal Code</th>
                <th>City</th>
                <th>Street Name</th>
                <th>Street Number</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StreetNumber)
                    </td>
                    <td>
                        <button type="button" id="edit-@item.CustomerId" class="btn btn-info editCustomer">
                            <i class="glyphicon glyphicon-pencil"></i> Edit
                        </button>
                        <button type="button" id="delete-@item.CustomerId" class="btn btn-danger deleteCustomer">
                            <i class="glyphicon glyphicon-trash"></i> Delete
                        </button>
                    </td>
                </tr>
            }
            </tbody>

        </table>
    </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div id="modalContent">

            </div>
        </div>
    </div>
</div>
