﻿@model CustomerManagementApp.Web.ViewModel.ModalWindowButtons
@{
    Layout = null;
}

<!DOCTYPE html>

<body>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn @Model.CancelButtonStyle">@Model.CancelButtonDesc</button>
    <button type="submit" class="btn @Model.SubmitButtonStyle @Model.SubmitButtonDesc" >@Model.SubmitButtonDesc</button>
</div>
</body>

